td{
    width:100px;
    height: 100px;
   background: blue;
   font-size: 40px;
   text-align: center;
   color:red;
   border-radius: 10px ;
}
table{
    margin: 20px auto;
    border-radius: 10px;
    color:white;
}
body{
    background:white;
}